config BOARD_CUSTOM_SCRATCH_ESP32S3
	select SOC_ESP32S3_WROOM_N8R8
	select SOC_ESP32S3_PROCPU if BOARD_CUSTOM_SCRATCH_ESP32S3_ESP32S3_PROCPU || BOARD_CUSTOM_SCRATCH_ESP32S3_ESP32S3_PROCPU_SENSE
	select SOC_ESP32S3_APPCPU if BOARD_CUSTOM_SCRATCH_ESP32S3_ESP32S3_APPCPU
